<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="lastUsedTestConfiguration">
      <TestConfiguration>
        <option name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <option name="from" value="history" />
        <option name="intellij" value="false" />
        <option name="order" value="-1" />
        <option name="password" value="123456" />
        <option name="url" value="jdbc:mysql://localhost:3306/login" />
        <option name="userName" value="root" />
      </TestConfiguration>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/Entity" />
        <option name="javaMapperPackage" value="Mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="Entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="mybatis_demo" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="mybatis_demo">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="login:book">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Book" />
                  <option name="moduleName" value="mybatis_demo" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="login:role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="rid" />
                  <option name="javaModelName" value="Role" />
                  <option name="moduleName" value="mybatis_demo" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="login:users">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Users" />
                  <option name="moduleName" value="mybatis_demo" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="Mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
    <option name="testConfigurations">
      <list>
        <TestConfiguration>
          <option name="driverClass" value="com.mysql.cj.jdbc.Driver" />
          <option name="from" value="history" />
          <option name="intellij" value="false" />
          <option name="order" value="-1" />
          <option name="password" value="123456" />
          <option name="url" value="jdbc:mysql://localhost:3306/login" />
          <option name="userName" value="root" />
        </TestConfiguration>
      </list>
    </option>
  </component>
</project>