<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="Mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
        <option name="javaModelPackage" value="Mapper" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src" />
        <option name="lastDatabaseCrudChooseModuleName" value="mybatis_demo01" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="mybatis_demo01">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
                  <option name="javaModelPacakge" value="Mapper" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src" />
                  <option name="xmlPackage" value="Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="login:info">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Info" />
                  <option name="moduleName" value="mybatis_demo01" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="Mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src" />
      </ProjectProfile>
    </option>
  </component>
</project>