<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gavin.code.mapper.ProductsMapper">
  <resultMap id="BaseResultMap" type="gavin.code.dto.Products">
    <!--@mbg.generated-->
    <!--@Table products-->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pid, pname, price, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from products
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from products
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pid" keyProperty="pid" parameterType="gavin.code.dto.Products" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into products (pname, price, description
      )
    values (#{pname,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="pid" keyProperty="pid" parameterType="gavin.code.dto.Products" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into products
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pname != null">
        pname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gavin.code.dto.Products">
    <!--@mbg.generated-->
    update products
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="gavin.code.dto.Products">
    <!--@mbg.generated-->
    update products
    set pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      description = #{description,jdbcType=LONGVARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>