/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    margin: 0 auto;
    display: block;
    width: 100%!important;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	border: 0px;
	position: relative;
	zoom: 1;
	overflow: hidden;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav a {
	margin: 0;
    background: none;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    opacity: .8;
    -webkit-transition: all .3s ease;
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #fff;
	text-decoration: none;
}
.flex-direction-nav .flex-prev:before{
	content:"\f177";
}
.flex-direction-nav .flex-next {
	right: 6.6%;
    bottom: 19%;
}
.flex-direction-nav .flex-prev {
	left: 84.3%;
    bottom: 15%;
}
.flex-direction-nav .flex-next:before{
	content:"\f178";
}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.flex-control-nav {
	display: block;
    position: absolute;
    right: 9%;
    bottom: 3%;
}
.flex-control-nav li {
    margin: 10px 0;
    display: block;
    zoom: 1;
    position: relative;
}
.flex-control-paging li a {
	width: 6px;
    height: 6px;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    border: 2px solid rgba(255, 255, 255, 0.38);
    background: #bababa;
    text-align: center;
    border-radius: 15px;
}
.flex-control-paging li a.flex-active { 
	background:#ff6944; 
	cursor: default;
	transform: rotateX(360deg);
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotateX(360deg);
	-o-transform: rotateX(360deg);
	-ms-transform: rotateX(360deg);
    transition: transform 2s;
}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media screen and (max-width:800px) {
	.flex-direction-nav .flex-next {
		bottom: 22%;
	}
	.flex-direction-nav .flex-prev {
		bottom: 18%;
	}
}
@media screen and (max-width:736px) {
	.flex-direction-nav .flex-prev {
		left: 75.3%;
	}
	.flex-direction-nav .flex-next {
		right: 19.8%;
	}
	.flex-control-nav {
		right: 21%;
		bottom: 8%;
	}
}
@media screen and (max-width: 480px) {
	section.slider {
		padding-top: 0;
	}
	.flex-direction-nav .flex-next {
		right: 18.8%;
	}
}
@media screen and (max-width: 414px){
	.flex-control-nav {
		bottom: 6%;
	}
	.flex-direction-nav .flex-prev {
		left: 73.3%;
	}
	.flex-direction-nav .flex-next {
		right: 19%;
	}
}
@media screen and (max-width: 320px) {
	.flex-direction-nav .flex-next {
		right: 18%;
	}
	.flex-direction-nav .flex-prev {
		bottom: 17%;
	}
	.flex-control-nav {
		bottom: 2%;
	}
}