<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="javaMapperPackage" value="com.gavin.provider.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/provider/src/main/java" />
        <option name="javaModelPackage" value="com.gavin.provider.dto" />
        <option name="javaModelPath" value="$PROJECT_DIR$/provider/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="consumer" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="consumer">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.gavin.provider.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/provider/src/main/java" />
                  <option name="javaModelPacakge" value="com.gavin.provider.dto" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/provider/src/main/java" />
                  <option name="xmlPackage" value="com.gavin.provider.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/provider/src/main/java" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="SSM:User_info">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="UserInfo" />
                  <option name="moduleName" value="consumer" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="SSM:users">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Users" />
                  <option name="moduleName" value="consumer" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="com.gavin.provider.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/provider/src/main/java" />
      </ProjectProfile>
    </option>
  </component>
</project>